<%- include ('partials/header.ejs')%>
    <body>
        <%- include ('partials/navbar.ejs')%>
        <div class="container">
            <hr>
            <h1><%= pergunta.titulo %></h1>
            <p><%= pergunta.descricao %></p>
            <hr>
            <form action="/responder" method="post">
                <h3>Responda</h3>
                <label>Resposta</label>
                <textarea placeholder="Digite a sua resposta" class="form-control" name="corpo"></textarea>
                <br>
                <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                <button type="submit" class="btn btn-primary">Responder</button>
            </form>
            <hr>
            <h3>Respostas</h3>
            <hr>
            <% if(respostas.length>=1){%>
                <% respostas.forEach(resposta=>{ %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p><%= resposta.corpo %></p>
                        </div>
                    </div>
                <% }) %>
            <%}else{%>
                <h5>Não existem respostas cadastradas</h5>
            <%}%>
            <hr>
        </div>
    </body>
<%- include ('partials/footer.ejs')%>